
header {
    background-color: #fff; 
    color: #242582; /
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
  }
  
  .nav {
    display: flex;
    align-items: center;
  }
body, h1, h2, h3, h4, h5, h6, p, form, input, button {
  margin: 0;
  padding: 0;
}


* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

header {
  flex-direction: row;
  color: white;
  text-decoration: none;
}

div.nav {
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  text-decoration: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 35px;
  background-color: #553d67;
  font-size: 14px;
  list-style: none;
  flex-direction: row;
  display: flex;
  color: white !important;
}

.head-nav {
  margin-left: 20px;
  color: white !important;
}

img.headImg {
  height: 30px;
  margin-top: 0;
  margin-left: 15%;
  float: left;
}


  
  .nav img {
    max-width: 100px;
    margin-right: 20px;
  }
  
  .nav li {
    list-style-type: none;
    display: inline;
    margin-right: 10px;
  }
  
  .nav li a {
    text-decoration: none;
    color: #242582; 
  }
  

  .buyticket-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 60px); 
  }
  
  .buyleft {
    background-color: #553d67;
    width: 25%;
    height: 100%;
  }
  
  .buyright {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .buyright h1 {
    color: #242582;
    margin-bottom: 20px;
  }
  
  .buyright label {
    color: #242582; 
    margin-bottom: 5px;
  }
  
  .buyright input {
    width: 25%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .Buy {
    background-color: #f64c72;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .Buy:hover {
    background-color: #99738e;
  }

  .checkbox{
    flex-direction: row;
  }

  
  